.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

test/cordic/sim_build
test/cordic/__pycache__/
test/cordic/results.xml

test/spi/sim_build
test/spi/__pycache__/
test/spi/results.xml

test/strobe/sim_build
test/strobe/__pycache__/
test/strobe/results.xml

test/triangle/sim_build
test/triangle/__pycache__/
test/triangle/results.xml

test/del
